@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,600;0,700;0,800;0,900;1,400&display=swap');

:root {
    font-family: 'Mulish', sans-serif;
    --cooler-white: #f5f5f5;
    color: #030303;
    --accent: #ff9c0b;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: var(--accent);
}

.top-nav {
    z-index: 1;
    position: fixed;
    display: flex;
    height: 50px;
    width: 100vw;
    padding: 1rem;
    align-items: center;
    background-color: #3c3b3b;
    justify-content: center;
    color: var(--cooler-white);
}

.start a {
    margin: 0;
    background: transparent;
}

.end {
    width: 50%;
    margin-left: auto;
}

.end ul {
    justify-content: space-around;
    display: flex;
    margin-left: auto;
    margin-right: 20%;
    gap: 1rem;
}

.ham {
    display: none;
}

.bar {
    width: 100%;
    height: 2px;
    background-color: #030303;
}

.landing {
    display: flex;
    justify-content: space-around;
    row-gap: 5rem;
    min-height: 80vh;
    width: 100vw;
    align-items: center;
}

.intro-container {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    height: fit-content;
}

.intro {
    margin-top: -30rem;
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


.iam {
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    text-align: start;
    margin-left: 5px;
    margin-bottom: 0.5rem;
}

.name {
    font-family: sans-serif;
    font-weight: 900;
    font-size: 4rem;
    line-height: 1.1;
    margin-bottom: 1rem;
    max-width: 500px;
    text-shadow: 2px 2px 2px #006497;
}

.job {
    font-style: italic;
    font-weight: 500;
    font-size: xx-large;
    font-family: serif;
}

.languages {
    margin-top: 5rem;
}

.languages p {
    margin-bottom: 1rem;
}

.flags {
    display: flex;
    gap: 25px;
}

.flag img {
    width: 120px;
    height: 80px;
}

.picture {
    margin-right: 4vw;
}

.frame {
    border-radius: 50%;
    overflow: hidden;
}

.frame img {
    rotate: -9deg;
}

.about-me {
    padding-top: 8vh;
    padding-bottom: 8vh;
    width: 100vw;
    min-height: 400px;
    padding-left: 2vw;
    padding-right: 1vw;
    position: relative;
}

.about-me h1 {
    margin-bottom: 5vh;
}

.about-me>div {
    margin-top: 2rem;
}

.about-me>div>div {
    width: 40%;
    margin-left: -150px;

    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    padding: 2rem 1.5rem;
    border-radius: 5px;
}

.about-me>div>div>*:not(p) {
    margin-top: 1rem;
}

.about-me ul {
    margin-bottom: 50px;
}


.flex {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.about-me .flex {
    justify-content: space-around;
    align-items: center;
    gap: 1.5rem;
}

.about-me img {
    width: 500px;
    aspect-ratio: 16/9;
    max-width: 80vw;
}

.message {
    margin-top: 20px;
}

.message-btn {
    padding: 0.5rem 1rem;
    border: 2px solid var(--accent);
}

.message-btn:hover {
    background-color: var(--accent);
    color: white;
}

.why-me {
    padding: 8vh 0;
}

.why-me h1 {
    margin-left: 2vw;
    margin-bottom: 5vh;
}

.detail {
    display: block;
    color: var(--cooler-white);
    padding: 0 1.5rem;
    font-size: 0.96rem;
    margin-bottom: 20px;
}

.hidden {
    display: none;
}


.card-category-1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.card-category-1 div {
    display: inline-block;
}

.card-category-1>div {
    margin: 10px 5px;
    text-align: left;
}

/* Basic Card */
.basic-card {
    width: 300px;
    position: relative;

    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
}

.basic-card .card-content {
    padding: 30px;
}

.basic-card .card-title {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.basic-card .card-text {
    line-height: 1.6;
    margin-top: 20px;
}

.basic-card .card-link {
    padding: 25px;
    width: -webkit-fill-available;
}

.basic-card .card-link:hover {
    cursor: pointer;
}

.basic-card .card-link a {
    text-decoration: none;
    position: relative;
    padding: 10px 0px;
}

.basic-card .card-link a:after {
    top: 60px;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    width: 0;

    -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
    -moz-transition: width 0.3s ease 0s, left 0.3s ease 0s;
    -o-transition: width 0.3s ease 0s, left 0.3s ease 0s;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.basic-card .card-link a:hover:after {
    width: 100%;
    left: 0;
}


.basic-card-aqua {
    background-image: linear-gradient(to bottom right, #00bfad, #99a3d4);
}

.basic-card-aqua .card-content,
.basic-card .card-link a {
    color: #fff;
}

.basic-card-aqua .card-link {
    border-top: 1px solid #82c1bb;
}

.basic-card-aqua .card-link a:after {
    background: #fff;
}

.basic-card-lips {
    background-image: linear-gradient(to bottom right, #ec407b, #ff7d94);
}

.basic-card-lips .card-content {
    color: #fff;
}

.basic-card-lips .card-link {
    border-top: 1px solid #ff97ba;
}

.basic-card-lips .card-link a:after {
    background: #fff;
}

.basic-card-light {
    border: 1px solid #eee;
}

.basic-card-light .card-title,
.basic-card-light .card-link a {
    color: #636363;
}

.basic-card-light .card-text {
    color: #7b7b7b;
}

.basic-card-light .card-link {
    border-top: 1px solid #eee;
}

.basic-card-light .card-link a:after {
    background: #636363;
}

.basic-card-dark {
    background-image: linear-gradient(to bottom right, #252525, #4a4a4a);
}

.basic-card-dark .card-title,
.basic-card-dark .card-link a {
    color: #eee;
}

.basic-card-dark .card-text {
    color: #dcdcdcdd;
}

.basic-card-dark .card-link {
    border-top: 1px solid #636363;
}

.basic-card-dark .card-link a:after {
    background: #eee;
}


/* Services */
.services {
    padding: 8vh 0;
}

.services h1 {

    margin-left: 2vw;
    margin-bottom: 5vh;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    column-gap: 1rem;
    row-gap: 5rem;
    margin: 0 auto;
}

/* img-card */

.img-card {
    padding: 0.2rem;
    width: 300px;
    position: relative;
    border-radius: 5px;
    text-align: left;

    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
}

.img-card .card-image {
    position: relative;
    margin: auto;
    overflow: hidden;
    border-radius: 5px 5px 0px 0px;
    height: 200px;
}

.img-card .card-image img {
    width: 100%;
    border-radius: 5px 5px 0px 0px;

    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
}

.img-card .card-image:hover img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.img-card .card-text {
    padding: 0 15px 15px;
    line-height: 1.5;
}

.img-card .card-link {
    padding: 20px 15px 30px;
    width: -webkit-fill-available;
}

.img-card .card-link a {
    text-decoration: none;
    position: relative;
    padding: 10px 0;
}

.img-card .card-link a:after {
    top: 30px;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    width: 0;

    -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
    -moz-transition: width 0.3s ease 0s, left 0.3s ease 0s;
    -o-transition: width 0.3s ease 0s, left 0.3s ease 0s;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.img-card .card-link a:hover:after {
    width: 100%;
    left: 0;
}


.img-card.iCard-style4 {
    text-align: right;
}

.img-card.iCard-style4 .card-caption {
    position: absolute;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    z-index: 1;
    top: 10px;
    display: none;
    right: 10px;
    color: #fff;
}

.img-card.iCard-style4 .card-title {
    width: 100%;
    padding: 20px 0px 12px 0;
    color: #E91E63;
}

.img-card.iCard-style4 .card-title span {
    font-size: 25px;
    text-align: right;
    margin-left: auto;

    /* margin-right: 12px; */
}

.img-card.iCard-style4 .toggle {
    cursor: pointer;
    padding: 8px 0px 13px 0px;
    width: 55px;
}

.img-card.iCard-style4 .toggle span,
.img-card.iCard-style4 .toggle span:nth-child(2),
.img-card.iCard-style4 .toggle span:nth-child(3) {
    position: absolute;
    width: 8px;
    height: 8px;
    background: #E91E63;
    cursor: pointer;
}

.img-card.iCard-style4 .toggle span:nth-child(1) {
    right: 15px;
}

.img-card.iCard-style4 .toggle span:nth-child(2) {
    right: 27px;
}

.img-card.iCard-style4 .toggle span:nth-child(3) {
    right: 39px;
}

.img-card.iCard-style4 .card-text {
    opacity: 0;
    line-height: 0;
    padding-bottom: 0;
    color: #4c4c4c;

    -webkit-transition: ease-in-out 0.5s;
    -moz-transition: ease-in-out 0.5s;
    -o-transition: ease-in-out 0.5s;
    transition: ease-in-out 0.5s;
}

.img-card.iCard-style4 .toggle.active~.card-text {
    opacity: 1;
    line-height: 1.5;
    padding-bottom: 10px;
}

.img-card.iCard-style4 .card-link {
    border-top: 1px solid #e8e8e8;
}

.img-card.iCard-style4 .card-link a {
    color: #E91E63;
}

.img-card.iCard-style4 .card-link a:after {
    background: #E91E63;
}


/* References */
.references h1 {
    margin-bottom: 5vh;
    margin-left: 2vw;
}

.references {
    padding: 8vh 0;
}

#box {
    margin: auto;
    width: 80vw;
    max-width: 41em;
    min-height: 26em;
}

.img-con {
    position: absolute;
}

.img-con img {
    height: 1px;
    width: 1px;
}

.wrapper {
    background-color: #ffffff;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 0.6em;
    -webkit-box-shadow: 0 1.8em 3em rgba(1, 17, 39, 0.15);
    box-shadow: 0 1.8em 3em rgba(1, 17, 39, 0.15);
}

.testimonial-container {
    width: 85%;
    height: 100%;
    position: relative;
    margin: auto;
    padding: 1.8em 1.2em;
}

.testimonial-container p {
    color: #8c8c90;
    text-align: center;
    font-size: 0.9em;
    line-height: 2em;
    letter-spacing: 0.05em;
}

.testimonial-container img {
    display: block;
    margin: 1.8em auto 1.25em auto;
    border-radius: 50%;
    width: 4.4em;
}

.testimonial-container h3 {
    color: #2d3d67;
    font-size: 1em;
    text-align: center;
}

.testimonial-container h6 {
    color: #bcc4da;
    font-size: 0.9em;
    letter-spacing: 0.03em;
    font-weight: 400;
    text-align: center;
}

.wrapper button {
    font-size: 1.8em;
    color: #0a69ed;
    height: 2.2em;
    width: 2.2em;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    background-color: #ffffff;
    border: none;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

button#next {
    right: -1.1em;
}

button#prev {
    left: -1.1em;
}

.fab {
    color: #ff0000;
}


/* Feedback */
.feedback {
    padding: 8vh 0;
    background-color: var(--cooler-white);
}

.feedback h1 {
    margin-left: 2vw;
    margin-bottom: 5vh;
}

.form-div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.email-div .form>* {
    margin-top: 1.5rem;
}

.email-div {
    width: 50%;
    margin: auto;
}

.form input,
.form textarea {
    padding: 0.7rem 1rem;
    border-radius: 0;
    border: 1px solid var(--primary);
    font-family: inherit;
}

.form input:focus,
.form textarea:focus {
    outline: none;
}

.form input:focus::placeholder {
    visibility: hidden;
}

.action-buttons {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.action-buttons button {
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
}

.duse {
    background-color: var(--cooler-white);
    color: #005F73;
    border: 1px solid #0A9396;
}

.shop-now {
    color: var(--cooler-white);
    background-color: var(--accent);
    border: 2px solid var(--accent);
}

@media screen and (max-width: 650px) {
    .wrapper {
        font-size: 14px;
    }
}



@media screen and (max-width: 1366px) {
    .flags {
        width: 500px;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1200px) {
    .landing {
        scale: 0.9;
    }

    .about-me>div>div {
        width: 50%;
        margin-left: 0;
        gap: 2rem;
    }
}

@media screen and (max-width: 1024px) {
    .landing {
        scale: 0.8;
    }

    .about-me>div>div {
        width: 55%;
    }
}

@media screen and (max-width: 900px) {
    .landing {
        scale: 1;
    }

    .frame {
        margin-top: -50%;
    }

    .frame img {
        width: 400px;
        height: 400px;
    }

    .flags {
        flex-wrap: nowrap;
    }

    .about-me>div>div {
        width: 60%;
    }
}


@media screen and (max-width: 860px) {
    .landing {
        flex-direction: column-reverse;
        align-items: center;
    }

    .picture {
        margin-top: 30vh;
        margin-bottom: 40%;
    }

    .iam {
        text-align: start;
        margin-left: 5px;
    }

    .frame img {
        width: 300px;
        height: 300px;
    }

    .intro {
        align-items: center;
        flex-direction: row;
        gap: 2rem;
    }

    .flags {
        width: 300px;
        flex-wrap: wrap;
    }

    .about-me>div>div {
        width: 65%;
    }
}

@media screen and (max-width: 768px) {
    .end ul {
        display: none;
    }

    .ham {
        display: block;

        margin-left: auto;
        width: 30px;
        height: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
    }

    .ham.active {
        transform: translateY(50%);
    }

    .ham.active .bar {
        position: absolute;
        transition: rotate 0.5s ease-in-out;
    }

    .ham.active .bar:first-child {
        rotate: 45deg;
    }

    .ham.active .bar:nth-child(2) {
        visibility: hidden;
    }

    .ham.active .bar:last-child {
        rotate: -45deg;
    }

    .iam {
        font-size: larger;
    }

    .name {
        font-size: 2.5rem;
    }

    .job {
        font-size: x-large;
    }

    .flags {
        column-gap: 15px;
        row-gap: 0;
        width: 200px;
        justify-content: space-between;
    }

    .flag img {
        background-color: #030303;
        width: 80px;
        height: 50px;
    }

    .intro {
        flex-direction: column;
        gap: 0;
        margin-top: 40vh;
        justify-content: center;
        align-items: center;
    }

    .landing {
        position: relative;
    }

    .picture {
        position: absolute;
        margin: auto;
        top: 20vh;
    }

    .frame img {
        width: 250px;
        height: 250px;
    }

    .languages {
        margin-top: 20px;
        margin-right: auto;
    }

    .about-me .flex {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .about-me>* {
        width: 100%;
    }

    .about-me>div>div {
        width: 80%;
        padding: 2rem;
    }
}